table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    font: 1rem 'Fira Sans', sans-serif;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
    border: 1px #333;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
input[type="number"]{
      width: 13em;
} 
input[type="text"]{
    width: 13em;
}

.tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: center;
  }

